@media (max-width: 576px) {



.saludos {
    height: 73.1rem;
}

    .transportistas {
        height: 15rem;
    }


    /*nabar*/

    .navbar a {
        font-size: 1rem;
    }

    .navbar span:hover {
        padding: 10px 10px;
        border-radius: 10px;
    }

    .navbar button {
        padding: 5px 10px;
        border-radius: 10px;
    }


    /*inicio*/

    /*inicio-titulo*/

    .container-fluid h1 {
        position: relative;
        margin-top: 5rem;
        font-size: 2rem;
    }

    /*inicio-sub-titulo*/
    .container-fluid h2 {
        font-size: 1rem;
        justify-content: center;
    }

    /*inicio-boton*/
    .angled-gradient-button {
        position: relative;
        margin-bottom: 29rem;
        background-size: 230%;
        text-transform: uppercase;
        border-radius: 6px;
        transition: all .2s ease-out;
        font-weight: 600;
        cursor: pointer;
        letter-spacing: 2px;
        font-size: 10px;
        font-family: sans-serif;
    }

    .angled-gradient-button:hover {
        transform: translateY(-2px);
        background-position: 0;
    }

    /*fin inicio¨*/
    .espacio {
        padding: 1.4rem;
    }


    /*nosotros*/
    /*titulo-nosotros*/
    .nosotros h2 {
        font-size: 3rem;
    }

    /*img-nosotros*/

    .titulo-img img {
        margin-left: 10%;
    }

    .titulo-img .quellon{
        margin-left: 6rem;
        height: 400px;
        width: 430px;
        justify-content: center;
        align-content: center;
    }

    /*subtitulo-nosotros*/
    .quellon h3 {
        margin-bottom: 1px;
        font-size: 20px;
        font-weight: 600;
        margin-right: 13%;
    }
    /*nosotros-subtitulo*/
    .saludos h4 {
        font-size: 30px;
        margin-top: 10rem;
        margin-right: 15%;
    }





        /*saludo-quellon-quienes-somos*/
    .saludos-quellon h4 {
        margin-left: 1rem;
        margin-top: 2rem;
        margin-right: 1rem;
    }

    .quienes-img h3{
        margin-top: 1rem;
        font-size: 24px;
        margin-left: 5%;
    }

    .saludos-quellon img {
        margin-left: 9%;
        margin-top: 0.1rem;
        height: 310px;
        width: 450px;
        margin-bottom: 3rem;
    }
    .saludos-quellon p {
        margin-top: 2rem;
        font-size: 18px;
        margin-left: 2rem;
        margin-bottom: 2rem;
    }


    /*nosotros-texto*/
    .saludos p {
        font-size: 18px;
        margin-right: 3rem;
    }

    /*nosotros-img*/
    .saludos img {
        margin-left: 9%;
        margin-top: 0.1rem;
        height: 310px;
        width: 450px;
    }

    /*padres y apoderados*/
    /*padres y apoderados-titulo*/
    .padres-apoderados h3 {
        font-size: 2.7rem;
        margin-top: 6rem;
        margin-bottom: 2rem;
        margin-right: 1%;
    }

    /*padres y apoderados-texto-1*/
    .contenido-padres-apoderados-1 p {
        font-size: 18px;
        margin-top: 1rem;
    }

    /*padres y apoderados-img1*/
    .contenido-padres-apoderados-1 img {
        height: 18rem;
        width: 25rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        border-radius: 0.5rem;
        box-shadow: 0.25rem 0.25rem 0.25rem 0;
    }

    /*padreas y apoderados-texto-2*/
    .contenido-padres-apoderados-2 {
        font-size: 18px;
        margin-top: 6rem;
        padding-bottom: 6rem;
    }

    .contenido-padres-apoderados-2 p {
        margin-top: 1rem;
    }

    /*padres y apoderados-img-2*/
    .contenido-padres-apoderados-2 img {
        height: 18rem;
        width: 25rem;
        margin-right: 0.5rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        border-radius: 0.5rem;
        box-shadow: 0.25rem 0.25rem 0.25rem 0;
    }


    /*reseña-historica*/
    /*reseña-historica-titulo*/

    .fundacion-titulo {
        margin-top: 9rem;
    }

    .fundacion-titulo h3 {
        font-size: 20px;
    }

    .fundacion-contenido p {
        font-size: 18px;
        font-family: sans-serif;
        margin-right: 5rem;
    }


    .fundacion-contenido {
        padding-bottom: 6rem;
    }


    /*contratar*/
    /*contratar-titulo*/
    .transportistas h2 {
        margin-top: 4rem;
        font-size: 40px;
    }

    /*contratar-img*/
    .contenindo {
        margin-right: 10rem;
    }

    .contenindo img {
        width: 180px;
        height: 190px;
        border-radius: 0.5rem;
    }

    .capa-nombre {
        padding: 0.5rem;
    }

    .capa {
        position: absolute;
    }

    .capa {
        width: 11.3rem;
        height: 3.8rem;
        position: absolute;
        left: 1rem;
        border-radius: 0.5rem;
    }


    /*acomodar contratar-texto*/
    .postcontenedor {
        position: relative;
    }

    .postcontenedor .postnombre {
        position: relative;
        left: 25px;
        text-decoration: none;
    }

    .postnombre {
        font-family: sans-serif;
        font-size: 14px;
    }

    .postnombre:hover {
        font-weight: bold;
    }


    /*nose que poner*/

    .fiscalícenos {
        margin-left: 7rem;
    }

    .fiscalícenos-texto-1 {
        margin-top: 50px;
        padding-left: 5.6rem;
    }

    .fiscalícenos-texto-1 p {
        margin-bottom: 8rem;
    }

    .fiscalícenos-texto-2 {
        margin-top: 100px;
        margin-left: 5.6rem;
    }

    .fiscalícenos strong {
        font-size: 25px;
    }

    .fiscalícenos p {
        margin-top: 1rem;
        margin-left: 4.4rem;
        line-height: 0.5rem;
    }

    .fiscalícenos img {
        width: 100px;
        height: 100px;
        margin-top: 2rem;
        margin-left: 7rem;
    }

    .push-button-3d {
        margin-left: 5.5rem;
        text-transform: uppercase;
        padding: 10px 20px;
        border-radius: 5px;
        transition: all .2s ease;
        font-weight: 800;
        cursor: pointer;
        letter-spacing: 1px;
    }



    /*secion-perfiles*/
    /*boton-volver*/
    .volver {
        margin-top: 5.5rem;
        position: relative;
    }

    .postvolver {
        font-family: sans-serif;
        font-size: 1.4rem;
        text-decoration: none;
    }

    .postvolver {
        position: absolute;
        left: 5rem;
    }

    /*nombre-perfil-titulo*/
    .nombre-perfil h3 {
        font-size: 30px;
        margin-top: 6rem;
        margin-bottom: 3rem;
        margin-left: 25%;
    }

    /*imagen-perfil*/
    .tio-img {
        margin-left: 8rem;
        margin-top: 3rem;
    }

    .tio-img img {
        width: 250px;
        height: 280px;
        border-radius: 1.5rem;
        box-shadow: 0.25rem 0.25rem 0.25rem 0;
    }


    /*descripcion-perfil*/
    .descripcion {
        line-height: 1rem;
        font-size: 15px;
    }

    .descripcion strong {
        line-height: 2px;
    }
    .descripcion {
        margin-right: 3rem;
    }
    #accordionPanelsStayOpenExample {
        margin-right: 15%;
        margin-left: 1%;
    }

    /*footer*/
    /*footer-color*/
    .pie {
        height: 13rem;
    }


    /*footer-textos*/
    .pie p {
        line-height: 0.5rem;
    }

    /*info-texto*/
    .info-text {
        font-size: 8px;
        position: absolute;
        margin-top: 3.5rem;
        margin-left: 0.1rem;
    }

    /*hito-cero-texto*/
    .hito .hito-texto {
        font-size: 8px;
        position: absolute;
        margin-top: 8.3rem;
        margin-left: 0.1rem;
    }

    .hito-img {
        position: absolute;
        margin-top: 1rem;
        margin-left: 0.1rem;
    }


    /*redes-texto*/
    .redes-texto p {
        font-size: 8px;
        position: absolute;
        margin-top: 1.5rem;
        margin-left: 8rem;
    }

    /*redes-img*/
    .redes img {
        position: relative;
        float: left;
        width: auto;
        margin-top: 3.5rem;
        border-radius: 30%;
    }

    .redes-img {
        margin-left: 3rem;
    }


}